.flexContainer {
  width: 400px;
  height: fit-content;
  font-size: 22px;
  display: flex;
  flex-direction: row;
  background: #f2f4f2 0% 0% no-repeat padding-box;
  box-shadow: 3px 5px 6px #00000029;
  border-radius: 15px;
  opacity: 1;
  padding: 0 20px 10px 20px;
  position: relative;
}

.textContainer {
  flex: 0.6;
}

.weatherDescription {
  font-size: 20px;
}

.iconContainer {
  flex: 0.2;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.timeElement {
  position: absolute;
  right: 14px;
  top: -8px;
}

.weatherLogo {
  width: 75px;
  height: 75px;
  margin-top: 20px;
}
