.elementContainer {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  font-size: 18px;
  border-bottom: 3px solid #aecfd8;
  margin: 10px;
}

.descriptionContainer {
  display: flex;
  align-items: center;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
